// Custom variables
$navbar-height: 60px;

$text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
$text-shadow-2: 0 1px 2px rgba(0, 0, 0, 0.5);

$navbar-color: $white;
$navbar-cta-color: $primary;
$navbar-cta-bg-color: $primary;
$navbar-text-color: $primary;
$navbar-text-color-hover: rgba(200, 200, 200, 0.2);
$navbar-font-family: $font-family-base;

$navbar-toggle-collapse: $white;
$navbar-toggle-collapse-line: $gray-300;

// Base styling for the navbar
#mainNav {
  min-height: $navbar-height;
  .navbar {
    &-brand {
      font-family: $headings-font-family;
      text-transform: uppercase;
      margin: 1rem 0;
      img {
        max-height: 20px;
        margin: 0 auto;
        @include media-breakpoint-up(md) {
          max-height: 30px;
        }
      }
    }
    &-toggler {
      border: none;
      // &-icon {
      //   background-image: url("../assets/images/menu.svg");
      //   max-width: 85%;
      // }
      &:focus {
        outline: none;
      }
    }
    &-nav {
      .nav-item {
        &.active {
          .nav-link {
            opacity: 1;
            border-radius: 5px;
          }
        }
        .nav-link {
          font-family: $font-family-base;
          font-size: 0.8rem;
          padding: 0.5rem 0.75rem;
          display: inline-block;
          position: relative;
          &:hover,
          &:active {
            opacity: 1;
            border-radius: 5px;
          }
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    &-collapse {
      position: absolute;
      top: 54px;
      right: 100%;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
      width: 100%;
      height: 100vh;
      transition: all 0.3s ease;
      display: block;
      background-color: $navbar-toggle-collapse;
      &.collapsing {
        margin-right: 50%;
        height: 100vh;
        transition: all 0.3s ease;
        display: block;
      }
      &.show {
        right: 0;
      }
    }
    &-nav {
      .nav-item {
        border-bottom: 1px solid $navbar-toggle-collapse-line;
        padding: 0.5rem 0 !important;
        font-size: 2rem;
      }
    }
  }
}

.button-outline {
  a.nav-link:hover {
    color: $white !important;
  }
}
