// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
 html {
  box-sizing: border-box;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.site {
  color: $text-color;
  font-size: 1rem;
  text-align: left; 
  border: 10px solid $gray-300;
  padding: 10px;
}
/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

hr.center{
  margin-left: auto;
  margin-right: auto;
}

hr{
  color: $primary;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
i{
  font-size: 1rem;
}
button {
  -webkit-appearance: none;
  appearance: none;
  color: inherit; /* or your specific color */
  text-decoration: none;
}