.error-404 {
  .main-title {
    font-weight: $font-weight-bold;
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 0.5rem;

    @media (min-width: 479px) {
      font-size: 3rem;
    }

    @media (min-width: 768px) {
      font-size: 6rem;
    }
  }
}
