.wp-block-latest-posts {
  &__list {
    a {
      font-size: $h4-font-size;
    }
  }
  &__featured-image {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    border-radius: 0.25rem;
    transition: 0.3s;
    &:hover {
      top: 5px;
      filter: brightness(80%);
      transition: 0.3s;
    }
    img {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
}

.widget .wp-block-latest-posts {
  &__list {
    list-style: initial;
    a {
      font-size: $font-size-base;
    }
  }
}
