// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
// https://bootstrapvars.com/4.4/

@font-face {
  font-family: 'Roboto';
  src: url('./../assets/fonts/Roboto-Medium.woff2') format('woff2'),
      url('./../assets/fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./../assets/fonts/Roboto-Regular.woff2') format('woff2'),
      url('./../assets/fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anton';
  src: url('./../assets/fonts/Anton-Regular.woff2') format('woff2'),
      url('./../assets/fonts/Anton-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$gray-100:                    #f7f7f7;
$gray-200:                    #e4e4e4;
$gray-300:                    #dbdbdb;
$light-black:                 #333333;
$dark-black:                  #1B1B1B;
$white:                       #FFFFFF;
$black:                       #000000;

// Text Colors
$text-header-color:             $dark-black;
$text-color-a:                  $dark-black;
$text-color:                    $light-black;
$primary:                       $dark-black;
$secondary:                     darken( $primary, 10% );

$theme-colors: (
  primary: $primary
);

// Font overrides
$font-family-base: "Roboto", sans-serif !default;
$headings-font-family: "Anton", sans-serif !default;

// Font Size
$font-size-base: 1rem;

// Font Weight
$font-weight-lighter:           lighter;
$font-weight-light:             300;
$font-weight-normal:            400;
$font-weight-medium:            500;
$font-weight-semibold:          600;
$font-weight-bold:              700;
$font-weight-bolder:            800;
$font-weight-black:             900;
$font-weight-base:              $font-weight-normal;
$line-height-base:              1.5;

// Body
$body-background:               #FFFFFF;

// Header
$h1-font-size:                  $font-size-base * 3;
$h2-font-size:                  $font-size-base * 2.4375;
$h3-font-size:                  $font-size-base * 1.5;
$h4-font-size:                  $font-size-base * 0.9375;
$h5-font-size:                  $font-size-base * 0.75;
$h6-font-size:                  $font-size-base * 0.6875;
$h1-line-height:                $font-size-base * 4.5;
$h2-line-height:                $font-size-base * 3;
$h3-line-height:                $font-size-base * 2.25;
$h4-line-height:                $font-size-base * 1.5;
$h5-line-height:                $font-size-base * 1.5;
$h6-line-height:                $font-size-base * 1.5;

// Header Touch
$h1-font-size-touch:            $font-size-base * 2.25;
$h2-font-size-touch:            $font-size-base * 1.5;
$h3-font-size-touch:            $font-size-base * 1.0625;
$h4-font-size-touch:            $font-size-base * 0.875;
$h5-font-size-touch:            $font-size-base * 0.75;
$h6-font-size-touch:            $font-size-base * 0.6875;
$h1-line-height-touch:          $font-size-base * 2.5;
$h2-line-height-touch:          $font-size-base * 2.25;
$h3-line-height-touch:          $font-size-base * 1.5;
$h4-line-height-touch:          $font-size-base * 1.5;
$h5-line-height-touch:          $font-size-base * 1.5;
$h6-line-height-touch:          $font-size-base * 1.5;


// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1440px
);


